node_modules/
.expo/
dist/
ios/
android/
android/keystore.properties
android/app/prysymtv-tv-release.keystore
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.tsbuildinfo

# macOS
.DS_Store

# Local env
.env
.env.local
credentials/
certs/

# @generated expo-cli
expo-env.d.ts
