node_modules/
.expo/
dist/
ios/
android/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.tsbuildinfo

# macOS
.DS_Store

# Local env
.env
.env.local

# @generated expo-cli
expo-env.d.ts
