{
  "project_info": {
    "project_number": "272643408537",
    "project_id": "new-prysymtv",
    "storage_bucket": "new-prysymtv.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:272643408537:android:672fbaa451d9a65f882e08",
        "android_client_info": {
          "package_name": "com.prysymtv.tv"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
